@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", "Poppins", "Open-Sans", "Noto-Sans", "Roboto";
    box-sizing: border-box;
}

body,
html {
    background-color: black;
    width: 100vw;
    word-wrap: break-word;
    overflow-x: hidden;
}

.main {
    background-image: url(assets/img/background-image.jpg);
    background-position: center center;
    /* background-size: max(1200px, 100vw); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    width: auto;
    transform: none;
    position: relative;
}

@media screen and (max-width: 960px) {
    .main {
        height: 512px
    }
}

@media screen and (max-width: 420px) {
    .main {
        height: 506px
    }
}

@media screen and (max-width: 350px) {
    .main {
        height: 700px
    }
}

.box {
    height: inherit;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.4) 50%,
            rgba(0, 0, 0, 0.8));
    position: absolute;
    top: 0;
}


nav {
    max-width: 80%;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
    flex-wrap: wrap;
    top: 0;
}

nav div {
    padding-right: 20px;
}

/* nav .nav-box {
    position: absolute;
    top: 0;
    height: inherit;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
} */

nav img {
    width: 148px;
    margin-left: 20px;
}

@media screen and (max-width: 960px) {
    nav img {
        width: 89px;
        height: 32px;
    }

    nav {
        max-width: 100%;
        height: 80px;
    }
}

.btn svg {
    height: 16px;
    width: 16px;
    /* text-align: left;
    align-items: center; */
}

.btn select {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: 0px solid white;
}

@media screen and (max-width: 600px) {
    nav div .btn select {
        display: none;
    }
}

.btn {
    padding: 5px 13px;
    font-size: 1rem;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    min-height: 16px;
    text-align: center;
    cursor: pointer;
    border: 1px solid grey;
}

.red-btn {
    background-color: rgb(197, 2, 2);
    margin: 0px 16px;
    font-weight: 600;
    border: 0;
}

.hero {
    position: relative;
    margin: auto;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    gap: 23px;
    padding: 30px;
    padding-top: 90px;
    text-align: center;
    overflow: hidden;
}

@media screen and (max-width: 960px) {
    .hero {
        padding-top: 132px;
    }
}

.h1 {
    font-size: 48px;
    font-weight: 900;
}

.h3 {
    font-size: 24px;
    font-weight: 400;
}

.hero :nth-child(3) {
    font-size: 20px;
    font-weight: 400;
}

@media screen and (max-width:960px) {
    .h1 {
        font-size: 32px;
        font-weight: 700;
    }

    .h3 {
        font-size: 18px;
        font-weight: 400;
    }

    .hero>:nth-child(3) {
        font-size: 18px;
        font-weight: 400;
    }
}

@media screen and (max-width:400px) {
    .hero {
        padding: 20px;
        text-align: center;
    }

    .h1 {
        font-size: 32px;
        font-weight: 500;
    }

    .h3 {
        font-size: 18px;
        font-weight: 400;
    }

    .hero>:nth-child(3) {
        font-size: 18px;
        font-weight: 400;
    }
}

.hero .red-btn {
    margin-left: 1px !important;
    padding: 12px 24px;
    font-size: 24px;
    font-weight: 500;
    width: 210px;
    text-align: center;
    text-wrap: wrap;
}

.email-start {
    display: flex;
    gap: 8px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

input {
    padding: 16px 19px 16px 12px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    color: white;
    width: 364.75px;
    overflow: hidden;
}

@media screen and (max-width: 960px) {
    input {
        width: 359px;
    }
}

@media (max-width: 710px) {
    input {
        width: calc(100% - 223px);
    }
}

@media (max-width: 600px) {
    .email-start {
        flex-direction: column;
    }

    input {
        width: 100%;
        height: 48px;
    }

    .hero .red-btn {
        font-size: 18px;
        width: 161px;
    }
}

@media (max-width: 599px) {
    input {
        width: calc(100% - 20px);
    }
}

.separation {
    height: 8px;
    width: 100%;
    background-color: rgb(35, 35, 35);
}

.section {
    padding-top: 72px;
    padding-bottom: 72px;
    margin-left: 32px;
    margin-right: 32px;
    color: white;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    max-width: calc(100% - 64px);
    width: 75vw;
    margin: auto;
    flex-wrap: wrap;
}

.section .text {
    padding-right: 6px;
    text-align: left;
    text-wrap: wrap;
    width: 50%;
    justify-content: left;
}

.section .h1 {
    margin-bottom: 16px;
}

.section .sec-img {
    position: relative;
    padding-left: 6px;
    width: 50%;
    object-fit: cover;
}

.sec-img img {
    position: relative;
    align-self: flex-start;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.section.sec-1 .sec-img video {
    position: absolute;
    left: 14.3%;
    top: 20.5%;
    width: 72%;
    z-index: 5;
}

@media (max-width: 960px) {
    .section {
        flex-direction: column;
        margin: auto;
    }

    .section .text {
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .section .sec-img {
        width: 100%;
        justify-self: center;
    }
}

@media (max-width: 601px) {
    .section {
        padding-top: 56px;
        padding-bottom: 56px;
        margin-left: 24px;
        margin-right: 24px;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .section .text {
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .section .sec-img {
        width: 100%;
        justify-self: center;
        text-align: center;
    }
}

.sec-2,
.sec-4 {
    flex-direction: row-reverse;
}

.sec-2 .sec-img img {
    width: 100%;
    height: 100%;
}

.sec-2 .sec-img .sec-flex {
    margin: 0 auto;
    display: flex;
    width: 60%;
    min-width: 15rem;
    height: 100px;
    flex-direction: row;
    background-color: black;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 10px;
    padding: 8px 12px;
    align-items: center;
    position: absolute;
    z-index: 10;
    /* bottom: 30px; */
    bottom: 10%;
    left: 10%;
    justify-content: space-between;
    object-fit: contain;
}

/* .sec-2 .sec-img .sec-flex h4 {
    padding-right: 40px;
} */
@media screen and (min-width: 960px) {
    .sec-2 .sec-img .sec-flex {
        margin-left: 10%;
    }
}

@media (min-width: 960px) and (max-width: 711px) {
    .sec-2 .sec-img .sec-flex {
        width: 384px;
    }
}

.sec-2 .sec-img .sec-flex img {
    height: 90%;
    width: auto;
    margin-right: 16px;
}

.sec-2 .sec-img .sec-flex .gif {
    height: 50px;
    width: 50px;
    justify-self: flex-end;
}

@media (max-width:960px) {
    .sec-2 .sec-img .sec-flex .gif {
        height: 48px;
        width: 48px;
    }

    .sec-2 .sec-img .sec-flex {
        width: 80%;
        padding: 5px 12px;
        height: 70px;
        text-align: left;
    }

    .sec-2 .sec-img {
        justify-content: center;
    }
}

.sec-flex .in-text {
    display: flex;
    flex-direction: column;
    color: blue;
    font-size: 14px;
    font-weight: 400;
    margin-right: 24px;
    margin-right: auto;
}

.sec-flex .in-text h4 {
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.section.sec-3 .sec-img video {
    width: 65%;
    position: absolute;
    top: 14%;
    left: 18%;
    overflow: hidden;
}

.faq {
    color: white;
    padding: 72px 0px;
    margin: 0px 32px;
}

@media (max-width: 600px) {
    .faq {
        padding: 56px 0px;
        margin: 0px 24px;
    }
}

.faq .h1 {
    text-align: center;
    margin-bottom: 24px;
}

.faq-box .h3 {
    text-align: left;
}

.faq-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 100%;
    margin: 0 auto;
}

.faq-box button {
    color: white;
    border: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 84px;
    width: 100%;
    background-color: rgb(45, 45, 45);
    padding: 24px;
    margin: auto;
    /* margin-bottom: 8px; */
    transition: all 0.2s ease-out;
}

.faq-box button:hover {
    background-color: rgb(65, 65, 65);
}

@media screen and (min-width:1240px) {
    .faq-box button {
        max-width: 75vw;
        margin: 0px auto;
    }
}

@media (max-width:400px) {
    .faq-container {
        width: 100%;
    }

    .faq-box {
        width: 100%;
    }

    .faq-box button {
        width: 100%;
        margin: 0px;
    }
}

.faq-box svg {
    height: 30px;
    width: 30px;
}

@media (max-width: 960px) {
    .faq-box {
        height: 72px;
    }

    .faq-container {
        gap: 20px;
        width: 95vw;
    }
}

.end {
    margin-top: 45px;
    padding: 0px;
    padding-bottom: 10px;
}

.end .h3 {
    font-size: 20px;
}

@media (max-width:960px) {
    .end .h3 {
        font-size: 18px;
    }
}

footer {
    margin: 68px 0px;
    padding: 0px 32px;
}

@media (max-width:960px) {
    footer {
        margin: 32px 0px;
    }
}

@media (max-width:600px) {
    footer {
        padding: 0px 24px;
    }
}


footer .container {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    margin: auto;
    font-size: 14px;
    font-weight: 400;
    color: rgb(181, 181, 181);
}

.container .ultxt {
    text-decoration: underline;
}

.container .ultxt a {
    color: inherit;
}

.call {
    margin-bottom: 12px;
    font-size: 16px;
}

.links {
    margin: 12px 0px;
}

.links ul {
    list-style: none;
    display: flex;
    width: 100%;
    margin: -16px 0px 14px -12px;
    flex-wrap: wrap;
}

.links ul li {
    display: flex;
    flex: 0 0 calc(25% - 0.75rem);
    margin: 16px 0px 0px 12px;
}

@media (max-width:960px) {
    .container {
        width: 100%;
    }

    .links ul li {
        flex: 0 0 calc(50% - 0.75rem);
    }
}

.language button {
    background-color: transparent;
}

.container .branding {
    margin-top: 24px;
}

input::placeholder {
    color: rgb(177, 177, 177);
    position: absolute;
    /* transform: translateY(-50%); */
    transition: all 0.2s ease-out;
    pointer-events: none;
}

input:focus::placeholder {
    font-size: 12px;
    transform: translate(0%, -70%);
}

/* .btn:focus{
    box-shadow: -2px 2px 5px 2px rgb(66, 52, 52);
    transform: translate(2%,0%);
    transition: all 0.2s ease-in-out;
} */
.red-btn:hover {
    background-color: rgb(160, 0, 0);
    transition: all 0.2s ease-in-out;
}